<% if (flashMessage) { %>
    <div class="mb-6">
        <div class="<%= flashMessage.tipo === 'success' ? 'flash-success' : flashMessage.tipo === 'warning' ? 'flash-warning' : 'flash-danger' %>">
            <%= flashMessage.texto %>
        </div>
    </div>
<% } %>