<%- include("partials/head") %>

<body>

    <h1>Gestor de Asociaciones</h1>

    <p>Bienvenido al Gestor de Asociaciones.</p>

    <nav>
        <ul>
            <li><a href="/socios">Gestión de socios</a></li>
            <li><a href="/login">Iniciar sesión</a></li>
        </ul>
    </nav>

</body>

<%- include("partials/footer") %>